
#inner-dropzone {

}

#outer-dropzone {
    padding: 64px;
}

#outer-dropzone2 {
    padding: 40px;
}

.dropzone {
    background-color: #ccc;

    position: relative;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
    margin-left: -16px;
    margin-top: -43px;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
    margin-left: -16px;
    margin-top: -43px;
}

.drag-drop {
    display: inline-block;

    position: absolute;
    max-height: 40px;
    max-width: 40px;

    margin-left: -16px;
    margin-top: -43px;
    color: #000;

    min-height: 40px;
    min-width: 40px;

    transition: background-color 0.3s;
}


.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
    margin-left: -16px;
    margin-top: -43px;
}

